h1 {color:pink; font-family: 'Times New Roman', Times, serif;font-size: 55px;} 
body {font-family: cursive;
    padding: 5%;}
li {font-size: 18px;}
h2 {color:rgb(170, 3, 3); font-size: 38px;}
h3 {color:rgb(170, 3, 3)}

p {.purple 
    {color: purple}
}

* { 
    margin: 0;
    border: 2px solid darkmagenta;
}